<div class="row">
    <div class="col-lg-12">
        <ol class="breadcrumb">
            <li><a href="">Home</a></li>
            <li class="active"><span>Users</span></li>
        </ol>
        <div class="clearfix">
            <h1 class="pull-left">Users</h1>
            <div class="pull-right top-page-ui">
                <a href="" class="btn btn-primary pull-right">
                    <i class="fa fa-plus-circle fa-lg"></i> Add user
                </a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="main-box no-header clearfix">
            <div class="main-box-body clearfix">
                <div class="table-responsive">
                    <table class="table user-list table-hover">
                        <thead>
                        <tr>
                            <th><span>User</span></th>
                            <th><span>Created</span></th>
                            <th class="text-center"><span>Status</span></th>
                            <th><span>Email</span></th>
                            <th>&nbsp;</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <img src="static/core/img/simples/scarlet-159.png" alt=""/>
                                <a href="" class="user-link">Scarlett Johansson</a>
                                <span class="user-subhead">Admin</span>
                            </td>
                            <td>
                                2013/08/08
                            </td>
                            <td class="text-center">
                                <span class="label label-default">Inactive</span>
                            </td>
                            <td>
                                <a href=""><span class="__cf_email__" data-cfemail="a5c8ccc9c4e5ced0cbccd68bc6cac8">[email&#160;protected]</span></a>
                            </td>
                            <td style="width: 20%;">
                                <a href="" class="table-link">
                                    <span class="fa-stack">
                                    <i class="fa fa-square fa-stack-2x"></i>
                                    <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                                <a href="" class="table-link">
                                    <span class="fa-stack">
                                    <i class="fa fa-square fa-stack-2x"></i>
                                    <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                                <a href="" class="table-link danger">
                                    <span class="fa-stack">
                                    <i class="fa fa-square fa-stack-2x"></i>
                                    <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img src="static/core/img/simples/robert-300.jpg" alt=""/>
                                <a href="" class="user-link">Robert Downey Jr.</a>
                                <span class="user-subhead">Member</span>
                            </td>
                            <td>
                                2013/08/12
                            </td>
                            <td class="text-center">
                                <span class="label label-success">Active</span>
                            </td>
                            <td>
                                <a href=""><span class="__cf_email__" data-cfemail="b0ddd1c2dcdfdef0d2c2d1ded4df9ed3dfdd">[email&#160;protected]</span></a>
                            </td>
                            <td style="width: 20%;">
                                <a href="" class="table-link">
                                    <span class="fa-stack">
                                    <i class="fa fa-square fa-stack-2x"></i>
                                    <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                                <a href="" class="table-link">
                                    <span class="fa-stack">
                                    <i class="fa fa-square fa-stack-2x"></i>
                                    <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                                <a href="" class="table-link danger">
                                    <span class="fa-stack">
                                    <i class="fa fa-square fa-stack-2x"></i>
                                    <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img src="static/core/img/simples/ryan-300.jpg" alt=""/>
                                <a href="" class="user-link">Ryan Gossling</a>
                                <span class="user-subhead">Registered</span>
                            </td>
                            <td>
                                2013/03/03
                            </td>
                            <td class="text-center">
                                <span class="label label-danger">Banned</span>
                            </td>
                            <td>
                                <a href=""><span class="__cf_email__" data-cfemail="244e45474f644a4d474c4b48574b4a">[email&#160;protected]</span></a>
                            </td>
                            <td style="width: 20%;">
                                <a href="" class="table-link">
                                    <span class="fa-stack">
                                    <i class="fa fa-square fa-stack-2x"></i>
                                    <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                                <a href="" class="table-link">
                                    <span class="fa-stack">
                                    <i class="fa fa-square fa-stack-2x"></i>
                                    <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                                <a href="" class="table-link danger">
                                    <span class="fa-stack">
                                    <i class="fa fa-square fa-stack-2x"></i>
                                    <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img src="static/core/img/simples/emma-300.jpg" alt=""/>
                                <a href="" class="user-link">Emma Watson</a>
                                <span class="user-subhead">Registered</span>
                            </td>
                            <td>
                                2004/01/24
                            </td>
                            <td class="text-center">
                                <span class="label label-warning">Pending</span>
                            </td>
                            <td>
                                <a href=""><span class="__cf_email__" data-cfemail="4d2538203d253f28340d2f222a2c3f39632e2220">[email&#160;protected]</span></a>
                            </td>
                            <td style="width: 20%;">
                                <a href="" class="table-link">
                                    <span class="fa-stack">
                                    <i class="fa fa-square fa-stack-2x"></i>
                                    <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                                <a href="" class="table-link">
                                    <span class="fa-stack">
                                    <i class="fa fa-square fa-stack-2x"></i>
                                    <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                                <a href="" class="table-link danger">
                                    <span class="fa-stack">
                                    <i class="fa fa-square fa-stack-2x"></i>
                                    <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img src="static/core/img/simples/robert-300.jpg" alt=""/>
                                <a href="" class="user-link">Robert Downey Jr.</a>
                                <span class="user-subhead">Admin</span>
                            </td>
                            <td>
                                2013/12/31
                            </td>
                            <td class="text-center">
                                <span class="label label-success">Active</span>
                            </td>
                            <td>
                                <a href=""><span class="__cf_email__" data-cfemail="641714010a07011624101605071d">[email&#160;protected]</span></a>
                            </td>
                            <td style="width: 20%;">
                                <a href="" class="table-link">
                                    <span class="fa-stack">
                                    <i class="fa fa-square fa-stack-2x"></i>
                                    <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                                <a href="" class="table-link">
                                    <span class="fa-stack">
                                    <i class="fa fa-square fa-stack-2x"></i>
                                    <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                                <a href="" class="table-link danger">
                                    <span class="fa-stack">
                                    <i class="fa fa-square fa-stack-2x"></i>
                                    <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img src="static/core/img/simples/kunis-300.jpg" alt=""/>
                                <a href="" class="user-link">Mila Kunis</a>
                                <span class="user-subhead">Admin</span>
                            </td>
                            <td>
                                2013/08/08
                            </td>
                            <td class="text-center">
                                <span class="label label-default">Inactive</span>
                            </td>
                            <td>
                                <a href=""><span class="__cf_email__" data-cfemail="cba6a2a7aa8ba0bea5a2b8e5a8a4a6">[email&#160;protected]</span></a>
                            </td>
                            <td style="width: 20%;">
                                <a href="" class="table-link">
                                    <span class="fa-stack">
                                    <i class="fa fa-square fa-stack-2x"></i>
                                    <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                                <a href="" class="table-link">
                                    <span class="fa-stack">
                                    <i class="fa fa-square fa-stack-2x"></i>
                                    <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                                <a href="" class="table-link danger">
                                        <span class="fa-stack">
                                        <i class="fa fa-square fa-stack-2x"></i>
                                        <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                        </span>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img src="static/core/img/simples/lima-300.jpg" alt=""/>
                                <a href="" class="user-link">George Clooney</a>
                                <span class="user-subhead">Member</span>
                            </td>
                            <td>
                                2013/08/12
                            </td>
                            <td class="text-center">
                                <span class="label label-success">Active</span>
                            </td>
                            <td>
                                <a href=""><span class="__cf_email__" data-cfemail="224f43504e4d4c624050434c464d0c414d4f">[email&#160;protected]</span></a>
                            </td>
                            <td style="width: 20%;">
                                <a href="" class="table-link">
                                    <span class="fa-stack">
                                    <i class="fa fa-square fa-stack-2x"></i>
                                    <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                                <a href="" class="table-link">
                                    <span class="fa-stack">
                                    <i class="fa fa-square fa-stack-2x"></i>
                                    <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                                <a href="" class="table-link danger">
                                    <span class="fa-stack">
                                    <i class="fa fa-square fa-stack-2x"></i>
                                    <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img src="static/core/img/simples/ryan-300.jpg" alt=""/>
                                <a href="" class="user-link">Ryan Gossling</a>
                                <span class="user-subhead">Registered</span>
                            </td>
                            <td>
                                2013/03/03
                            </td>
                            <td class="text-center">
                                <span class="label label-danger">Banned</span>
                            </td>
                            <td>
                                <a href=""><span class="__cf_email__" data-cfemail="274d46444c67494e444f484b544849">[email&#160;protected]</span></a>
                            </td>
                            <td style="width: 20%;">
                                <a href="" class="table-link">
                                    <span class="fa-stack">
                                    <i class="fa fa-square fa-stack-2x"></i>
                                    <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                                <a href="" class="table-link">
                                    <span class="fa-stack">
                                    <i class="fa fa-square fa-stack-2x"></i>
                                    <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                                <a href="" class="table-link danger">
                                    <span class="fa-stack">
                                    <i class="fa fa-square fa-stack-2x"></i>
                                    <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img src="static/core/img/simples/emma-300.jpg" alt=""/>
                                <a href="" class="user-link">Emma Watson</a>
                                <span class="user-subhead">Registered</span>
                            </td>
                            <td>
                                2004/01/24
                            </td>
                            <td class="text-center">
                                <span class="label label-warning">Pending</span>
                            </td>
                            <td>
                                <a href=""><span class="__cf_email__" data-cfemail="1e766b736e766c7b675e7c71797f6c6a307d7173">[email&#160;protected]</span></a>
                            </td>
                            <td style="width: 20%;">
                                <a href="" class="table-link">
                                    <span class="fa-stack">
                                    <i class="fa fa-square fa-stack-2x"></i>
                                    <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                                <a href="" class="table-link">
                                    <span class="fa-stack">
                                    <i class="fa fa-square fa-stack-2x"></i>
                                    <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                                <a href="" class="table-link danger">
                                    <span class="fa-stack">
                                    <i class="fa fa-square fa-stack-2x"></i>
                                    <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img src="static/core/img/simples/robert-300.jpg" alt=""/>
                                <a href="" class="user-link">Robert Downey Jr.</a>
                                <span class="user-subhead">Admin</span>
                            </td>
                            <td>
                                2013/12/31
                            </td>
                            <td class="text-center">
                                <span class="label label-success">Active</span>
                            </td>
                            <td>
                                <a href=""><span class="__cf_email__" data-cfemail="1f6c6f7a717c7a6d5f6b6d7e7c66">[email&#160;protected]</span></a>
                            </td>
                            <td style="width: 20%;">
                                <a href="" class="table-link">
                                    <span class="fa-stack">
                                    <i class="fa fa-square fa-stack-2x"></i>
                                    <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                                <a href="" class="table-link">
                                    <span class="fa-stack">
                                    <i class="fa fa-square fa-stack-2x"></i>
                                    <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                                <a href="" class="table-link danger">
                                    <span class="fa-stack">
                                    <i class="fa fa-square fa-stack-2x"></i>
                                    <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div><script data-cfasync="false" src="static/app/email-decode.min.js"></script>