<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.xfs.scm.system.role_resources.dao.RoleResourcesMapper" >
  <resultMap id="BaseResultMap" type="org.xfs.scm.system.role_resources.entity.RoleResources" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="rid" property="rid" jdbcType="INTEGER" />
    <result column="rsid" property="rsid" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, rid, rsid
  </sql>
  <select id="getRoleResources" resultMap="BaseResultMap" parameterType="org.xfs.scm.system.role_resources.vo.RoleResourcesVo" >
    SELECT 
    	<include refid="Base_Column_List" />
    FROM tb_role_resources
    <trim prefix="WHERE" prefixOverrides="AND |OR ">
    	<if test="rid!=null">
    	  AND rid=#{rid,jdbcType=INTEGER}
    	</if>
    </trim>
  </select>
 
 
   <insert id="addRoleResources" parameterType="java.util.List" >
	    INSERT INTO tb_role_resources(rid,rsid) VALUES
	     <foreach collection="list" item="item" index="index" separator="," >  
	        (#{item.rid,jdbcType=INTEGER},#{item.rsid,jdbcType=VARCHAR})  
	    </foreach>  
  </insert>
  
  <delete id="removeRoleResources" parameterType="java.lang.Integer">
  	DELETE FROM tb_role_resources WHERE rid=#{rid,jdbcType=INTEGER}
  </delete>
</mapper>