<div class="wzwizard">
    <div class="wzpages">
        <div class="wzpage" ng-repeat="p in wzpages" ng-style="{'width': 100/wzpages.length + '%'}" ng-class="{wzactive:p.visible}">
            <span class="wztitletext" ng-if="opt.showPageNumber" style="margin-right:4px">{{$index+1}}{{config.PAGE_NUMBER_SEPARATOR}}</span>
            <span class="wztitletext">{{p.title}}</span>
        </div>
    </div>
    <div class="wzcontent" ng-transclude></div>
    <div class="wzfooter">
        <div ng-style="{'height': response.message===undefined||response.message===''?'30px':'0'}"></div>
        <div ng-class="{'wzok':response.result,'wzerror':!response.result}" ng-if="response.message!==undefined && response.message!==''">
            <span>{{response.message}}</span>
            <span class="icon icon-cross" ng-keydown="$event.which===13?response.message='':null" ng-click="response.message=''" tabindex="0"></span>
        </div>
        <button class="wzfooterbtn" ng-click="backBtnClicked()" ng-if="visiblePageIdx>0">{{opt.backBtnText}}</button>
        <button class="wzfooterbtn" style="margin-left:4px" ng-click="nextBtnClicked()" ng-if="visiblePageIdx<wzpages.length-1">{{opt.nextBtnText}}</button>
        <button class="wzfooterbtn" style="margin-left:4px" ng-click="acceptBtnClicked()" ng-if="opt.acceptBtn.showAcceptBtn&&visiblePageIdx===wzpages.length-1">{{opt.acceptBtn.acceptBtnText}}</button>
    </div>
</div>