<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.xfs.scm.system.user_role.dao.UserRoleMapper" >
  <resultMap id="BaseResultMap" type="org.xfs.scm.system.user_role.entity.UserRole" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="rid" property="rid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, rid
  </sql>
   <insert id="addUserRole" parameterType="java.util.List" >
	    INSERT INTO tb_user_role(user_id,rid) VALUES
	     <foreach collection="list" item="item" index="index" separator="," >  
	        (#{item.userId,jdbcType=BIGINT},#{item.rid,jdbcType=INTEGER})  
	    </foreach>  
  </insert>
  <select id="getUserRole"  resultMap="BaseResultMap" parameterType="org.xfs.scm.system.user_role.entity.UserRole">
  	  SELECT 
  	  	<include refid="Base_Column_List" />
  	  FROM tb_user_role 
  	  <trim prefix="WHERE" prefixOverrides="AND |OR ">
  	  	 <if test="userId!=null">
  	  	 	AND user_id=#{userId,jdbcType=BIGINT}
  	  	 </if>
  	  </trim>
  </select>
  
  
  <delete id="removeRole" parameterType="org.xfs.scm.system.user_role.entity.UserRole" >
  	  DELETE FROM tb_user_role
  	   <trim prefix="WHERE" prefixOverrides="AND |OR ">
  	     <if test="id!=null">
  	  	 	AND id=#{id,jdbcType=BIGINT}
  	  	 </if>
  	  	 <if test="userId!=null">
  	  	 	AND user_id=#{userId,jdbcType=BIGINT}
  	  	 </if>
  	  	 <if test="rid!=null">
  	  	 	AND rid=#{rid,jdbcType=INTEGER}
  	  	 </if>
  	  </trim>
  </delete>
 
</mapper>